[submodule "shin"]
	path = shin
	url = https://github.com/DCNick3/shin.git
[submodule "ShinDataUtil"]
	path = ShinDataUtil
	url = https://github.com/DCNick3/ShinDataUtil.git
[submodule "shin-translation-tools"]
	path = shin-translation-tools
	url = https://github.com/DCNick3/shin-translation-tools.git
